/* ==================== reset ==================== */

body,
h1,
p,
ul,
li,
div,
p{
    margin: 0;
    padding: 0;
}

.wrap {
    padding: 0 12px;
}

a{
    text-decoration: none;
}

/* ==================== utils ==================== */


/* ==================== display ==================== */
.d-none{
    display: none;
}

.d-inline-block{
    display: inline-block;
}