body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)), #FFFFFF;
    font-size: 12px;
    color: #615E5E;
}

button{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 3px 1px 5px;

    width: 80px;
    height: 20px;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;

    margin-right: 10px;

    float: left;
}

#setting-follow{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.follow-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15%;
    
    height: 50px;
    
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
    color: rgba(199, 192, 196, 1);
}

    .follow-bar > .follow-list > a > p{
        font-family: 'Pretendard-SemiBold';
        font-size: 14px;
        color : rgba(165, 135, 224, 1);
        letter-spacing: 0.02em;
    }

    .follow-bar > .follow-group > a > p{
        font-family: 'Pretendard-SemiBold';
        font-size: 14px;
        color : #797979;
        letter-spacing: 0.02em;
    }

    .follower-following{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    
    }
     
    .follower-selection{
        width: 380px;
        height: 47px;
    
     
        background: rgba(165, 135, 224, 0.2);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    
        /* Inside auto layout */
    
        flex: none;
        order: 1;
        flex-grow: 0;
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    
        margin: 22px;
    }
    
    .follower{
        color:#A587E0;
    }
    
    div>ul{
        list-style: none;
    }
    
    .follower-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    
       
    }
    
    div>ul>li{
        display: grid;
        grid-template-columns: 1fr 1fr 5fr;
        place-items: center end;
        margin-bottom: 25px;
    }
    
    .following-statement{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        
        width: 84px;
        height: 22px;
        
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), inset 0px 3px 5px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        
        /* Inside auto layout */
        
        flex: none;
        order: 0;
        flex-grow: 0;
    
       
    }
    
    .following-statement:active{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
    
        width: 84px;
        height: 22px;
    
        background: rgba(165, 135, 224, 0.2);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), inset 0px 3px 5px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    
        /* Inside auto layout */
    
        flex: none;
        order: 0;
        flex-grow: 0;
    
       
    }