@media screen and (min-width:0px) and (max-width:500px){
    body{
        background-color: rgba(0, 0, 0, 0.04);
        position: relative;
    }

    .mainimg{
        position: absolute;
        width: 158px;
        height: 149px;
        left: 50%;
        transform: translateX(-50%);
        top: 293px;
    
    }
    .mainlogo{
        position: absolute;
        width: 244px;
        height: 49px;
        left: 50%;
        transform: translateX(-50%);
        top: 466px;
    }
}

@media screen and (min-width: 501px) and (max-width:1024px){
    body{
        background-color: red;
    }
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.qa_wrap{
    width: 1000px;
    margin: 100px auto;
}

.qa_title{
    margin-bottom: 30px;
}

.board_title strong {
    font-size: 3rem;
}

.board_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: #000;
    color: #fff;
}

.write_cont{
    border-top: 2px solid #D9D9D9;
}

.title,
.context{
    padding: 15px;
}

.qa_write .context{
    boder-top: 1px dashed #000000;
    boder-bottom: 2px solid #d9d9d9;
    font-size: 0;
}

.qa_write .title dl {
    font-size: 0;
}

.qa_write .title dt,
.qa_write .context dt
{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;

    width: 100px;
}


.board_write .title dd {
    width: calc(100% - 100px);
}

.board_write .title input[type="text"]{
    padding: 10px;
    box-sizing: border-box;

    width: 80%;
}

.board_write .context {
    border-bottom: 1px solid #000;
}

.board_write .context textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}