body{
    background: url("/images/guestbook/background.png");
    background-size: cover;
}

.black{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.clam{
    display: flex;
    flex-wrap: wrap;
}

.clam li{
    cursor: pointer;
}

#s1{
    display: none;
}

.book{
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
} 

.pearl{
    width: 439px;
    height: 379px;
    background: url("/images/guestbook/pearling.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;

    width: 108px;
    height: 29px;

    background: rgba(252, 251, 251, 0.75);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), inset 0px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    color: #A587E0;
}

.close{
    color: white;
    font-size: 30px;
    position: fixed;
    top: 5%;
    right: 20%;
    z-index: 2;
    cursor: pointer;
}

.plus a{
    position: fixed;
    bottom: 15%;
    right: 5%;

    color: white;
    font-weight: bold;
    
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    background: rgba(90, 46, 149, 0.2);
    border-radius: 30px;
}

/* 내버전 */
.underline{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.add-delete{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;

    width: 108px;
    height: 29px;

    background: rgba(252, 251, 251, 0.75);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), inset 0px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    color: red;

    cursor: pointer;
}