/* 기본폰트 */

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}    




.wrap{
    font-family: 'Pretendard-Regular';

    display: flex;
    flex-direction: column;
    align-items: center;
   
    padding-top: 10px;
    gap: 10px;


    background: linear-gradient(0deg,
    rgba(0, 0, 0, 0.04), 
    rgba(0, 0, 0, 0.04)), #FFFFFF;


}

.ms-hidden {
    display: none;
  }


/* ==========(ms1) 쉘 메뉴 선택 섹션 ===================== */

#ms1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15%;
    
    width: 90%;
    height: 50px;
    
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    
    color: rgba(199, 192, 196, 1);
}

    #ms1 > .menuOurShell{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 165px;
        height: 106px;

        border-radius: 20px;

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    #ms1 > .our-shell > a{
        width: 100px;
    }

    #ms1 > .our-shell > a > img{
        width: 50px;
    }

    #ms1 > .our-shell > a > p{
        font-family: 'Pretendard-SemiBold';
        font-size: 14px;
        color : #797979;
        letter-spacing: 0.02em;
    }



    #ms1 > .menuMyShell{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 165px;
        height: 106px;

        border-radius: 20px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }


    #ms1 > .my-shell > a > img{
        width: 50px;
    }
    
    #ms1 > .my-shell > a > p{
        font-family: 'Pretendard-SemiBold';
        font-size: 14px;
        color : rgba(165, 135, 224, 1);
        letter-spacing: 0.02em;
    }

/* ==============(ms2) 방명록 버튼 섹션 ===================== */
#ms2{
    font-size: 14px;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 40px;

    flex: none;
    order: 2;
    flex-grow: 0;

    letter-spacing: 0.02em;

    padding: 15px;
}


#ms2 > .monthly {
    font-family: 'Pretendard-SemiBold';
    color : rgba(165, 135, 224, 1);
}


#ms2 > .ms2menu {
    font-family: 'Pretendard-Regular';
    color: #797979
}


/* ==============(ms3) 캘린더 섹션 ===================== */
#ms3{
      
    flex: none;
    order: 3;
    flex-grow: 0;

    width: 90%
}

#calendar {
    max-width: 1200px;
    min-height: 300px;
    margin: 0 auto;
  }

 :root {
    --fc-border-color: rgba(165, 135, 224, 1);
    --fc-daygrid-event-dot-width: 5px;
    -webkit-text-fill-color: #797979;
  
    /* 캘린더 버튼 */
    --fc-button-text-color:rgba(165, 135, 224, 1);
    --fc-button-bg-color: none;
    --fc-button-border-color: none;
    --fc-button-hover-bg-color: none;
    --fc-button-hover-border-color: #1a252f;
    --fc-button-active-bg-color: #1a252f;
    --fc-button-active-border-color: #151e27;
}
.fc-toolbar-chunk{
    font-size: 12px;
}

.fc-toolbar-chunk > .fc-button-primary{
    font-size: 12px;
}

.fc-toolbar-chunk > .fc-toolbar-title{
    font-family: 'Pretendard-SemiBold';
    font-size: 16px;
}





  /* ==========(ms4) 스케쥴 섹션 ===================== */
#ms4{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 90% ;


    flex: none;
    order: 4;
    flex-grow: 0;
}


  /* ==========(modal) 일정 디테일 ===================== */

    #dayDetail {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.3);
    }
  
  .modal-content {
        background-color: #fff;
        width: 80%;
        height: 50%;
  }
