
.setting-calander{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.comfirm{
    display: flex;
    /* 가로 */
    justify-content: center;
    /* 세로 */
    align-items: center;
    width: 80%;
    height: 220px;
    background: #EBEBEB;
    border: 1px solid #C4C4C4;

    box-shadow: inset 0px 0px 55px #FFFFFF, inset 0px 32px 16px rgba(199, 192, 196, 0.09), inset 0px 16px 8px rgba(199, 192, 196, 0.09), inset 0px -79px 40px rgba(199, 192, 196, 0.1), inset 0px -36px 30px rgba(199, 192, 196, 0.15), inset 0px -23px 25px rgba(199, 192, 196, 0.17);
    border-radius: 10px;
}

.select-btn{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 50px;
}

.select-btn button{
    border: none;

    width: 100px;
    height: 30px;

    background: rgba(90, 46, 149, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.select-btn button:nth-child(2){
    color: red;
}