@import url(/css/confirm-modal.css);

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)), #FFFFFF;
    font-size: 12px;
    color: #615E5E;
}

.diary-calendar {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    gap: 30px;

    width: 100%;
    height: 64px;

    /* REAL 그림자 */

    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.diary-detail {
    display: grid;
    grid-template:
        "content" 200px
        "btn" 1fr;
    /* grid-template-rows: 200px 1fr; */
    column-gap: 20px;
    padding: 20px 20px 20px 20px;

    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}


/* -----버튼 모음집--------------------------------------------------- */


.btns {
    justify-self: end;
    /* border-radius: 12px; */
}

.btns>button {
    border: none;
}

.diary-btns {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.diary-btns button {
    margin-left: 5px;
}

.diary-btns>button:active {
    background: rgba(90, 46, 149, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.diary-btns>select {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    /* REAL 그림자 */

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.diary-btns>button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: none;
}

/* ==========캘린더 조종 ===================== */

#calendar {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

:root{
    --fc-border-color: none;


        /* 캘린더 버튼 */
        --fc-button-text-color:rgba(165, 135, 224, 1);
        --fc-button-bg-color: none;
        --fc-button-border-color: none;
        --fc-button-hover-bg-color: none;
        --fc-button-hover-border-color: #1a252f;
        --fc-button-active-bg-color: #1a252f;
        --fc-button-active-border-color: #151e27;
}

.fc{
    flex-direction: column;
    text-align: center;
}
.fc-toolbar-chunk{
    font-size: 12px;
    text-align: center;
}

.fc-toolbar-chunk > .fc-toolbar-title{
    font-family: 'Pretendard-SemiBold';
    font-size: 12px;
    text-align: center;
}


.fc-scrollgrid-sync-table{
    height: 100px;
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events{
    min-height: 0px;
    min-width: 0px;
}

.fc .fc-daygrid-day-number{
    padding: 0px;
}

.fc .fc-daygrid-day-top {
    display: flex;
    flex-direction: column;
}
